In [14]:
import pandas as pd

In [16]:
data = {
'Name': ['Alice', 'Bob', 'Charlie', None, 'Eve'],
'Age': [24, None, 22, 32, 29],
'City': ['New York', 'Los Angeles', None, 'Houston', 'Phoenix'],
'Salary': [70000, 80000, None, 120000, None]
}

df = pd.DataFrame(data)

In [18]:
# Display the DataFrame
print("Original DataFrame:")

Original DataFrame:

In [27]:
print(df)

      Name   Age         City    Salary
0    Alice  24.0     New York   70000.0
1      Bob   NaN  Los Angeles   80000.0
2  Charlie  22.0         None       NaN
3     None  32.0      Houston  120000.0
4      Eve  29.0      Phoenix       NaN

In [29]:
# Count missing values in each column
missing_values = df.isnull().sum()
print("\nMissing values in each column:")

Missing values in each column:

In [31]:
print(missing_values)

Name      1
Age       1
City      1
Salary    2
dtype: int64

In [33]:
average_salary = df['Salary'].mean()

In [35]:
df['Salary_Filled'] = df['Salary'].fillna(average_salary)

In [37]:
print("\nUpdated DataFrame with Salary_Filled:")

Updated DataFrame with Salary_Filled:

In [39]:
print(df)

      Name   Age         City    Salary  Salary_Filled
0    Alice  24.0     New York   70000.0        70000.0
1      Bob   NaN  Los Angeles   80000.0        80000.0
2  Charlie  22.0         None       NaN        90000.0
3     None  32.0      Houston  120000.0       120000.0
4      Eve  29.0      Phoenix       NaN        90000.0